{% extends '@ibexadesign/content/form_fields.html.twig' %}

{% trans_default_domain 'field_edit' %}


{% block ibexa_fieldtype_ngexternalvideo_widget %}
	{% set is_translation = is_translation ?? false %}

	{% set token = app.request.server.get('CLOUDFLARE_BEARER_TOKEN') %}
	{% set url = app.request.server.get('CLOUDFLARE_API_URL') %}
	<div id="data-api" data-url="{{ url }}" data-token="{{ token }}" style="display: none;"></div>

	<div class="video-sources-options">
		{{- form_row(form.video_source, { disabled: is_translation }) -}}
	</div>

	{{ form_row(form.id, {'attr': {'class': 'ibexa-field-edit-ngexternalvideo-id'}, disabled: is_translation}) }}

	<span id="no_video_found_message"></span>

	<p id="video_name"></p>
	<p id="video_duration"></p>
	<p id="video_resolution"></p>
	<p id="video_date_uploaded"></p>
	<img id="video_thumbnail_image"/>
{% endblock %}
